<br \>

<%= form_for @conn, session_path(@conn, :create), [as: :session, class: "form-signin"], fn f  -> %>

  <h2 class="form-signin-heading">Please sign in</h2>

  <% login_field = Coherence.Config.login_field %>
  <%= required_label f, login_field, class: "sr-only" %>
  <%= text_input f, login_field, class: "form-control", required: "" , autofocus: true, placeholder: "Email address" %>
  <%= error_tag f, login_field %>

  <%= required_label f, dgettext("coherence", "Password"), class: "sr-only" %>
  <%= password_input f, :password, class: "form-control", required: "", placeholder: "Password" %>
  <%= error_tag f, :password %>

  <%= if @remember do %>
    <div class="form-group">
      <input type="checkbox"  name="remember" id="remember">
      <label for="remember"><%= dgettext "coherence", "Remember Me?" %></label>
    </div>
    <br />
  <% end %>

  <div class="form-group">
    <%= submit dgettext("coherence", "Sign In"), class: "btn btn-primary" %>
    <%= link dgettext("coherence", "Cancel"), to: Coherence.Config.logged_out_url("/"), class: "btn" %>
  </div>

  <div class="form-group">
    <%= coherence_links(@conn, :new_session) %>
  </div>

<% end %>
