<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>

    <span class="help-block">
      This must match the <a href='http://semver.org/'> semver format</a>.
      <em>ex. 1.0.1</em>
    </span>
  </div>

  <div class="form-group">
    <%= label f, :notes, class: "control-label" %>
    <%= text_input f, :notes, class: "form-control" %>
    <%= error_tag f, :notes %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
