<h2>Show Version</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @version.name %>
  </li>

  <li>
    <strong>Notes:</strong>
    <%= @version.notes %>
  </li>

</ul>

<span><%= link "Edit", to: version_path(@conn, :edit, @version) %></span>
<span><%= link "Back", to: version_path(@conn, :index) %></span>
